.main {
    min-height: calc(100vh - var(--nav-height));
    background-color: var(--primary-dark);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    min-height: 100%;
    flex: 1;
}

.btn{
    background-color: #ee1aca ;
    color: white;
    border-radius: 1rem;
}

.btn:hover{
    color: white;
    
}
