.container{
    background-image: url('/img/img.jpg');
    padding-top: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    /* box-shadow: 0px 0px 10px 20px linear-gradient(172deg, #a228f5, #ee1aca); */
}

.outside{
    padding-top: 100%;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    padding: 10px;
    box-shadow: 0 0 10px 5px;
    background: linear-gradient(172deg, #a228f5, #ee1aca, #ee1a1a);
    background-size: 600% 600%;
    -webkit-animation: circleAnimate 2s ease infinite;
    -moz-animation: circleAnimate 2s ease infinite;
    animation: circleAnimate 2s ease infinite;
}

@-webkit-keyframes circleAnimate {
    0%{background-position:0% 36%}
    50%{background-position:100% 65%}
    100%{background-position:0% 36%}
}
@-moz-keyframes circleAnimate {
    0%{background-position:0% 36%}
    50%{background-position:100% 65%}
    100%{background-position:0% 36%}
}
@keyframes circleAnimate {
    0%{background-position:0% 36%}
    50%{background-position:100% 65%}
    100%{background-position:0% 36%}
}