.container{
    background-color: transparent;
    border: 1px solid #f1f1f1;
    perspective: 1000px;
    padding-top: 70%;
    min-height: max-content;
    position: relative;
}

.inner{
    position: absolute;
    min-height: max-content;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.container:hover .inner,.container:focus .inner{
    transform: rotateY(180deg);
}

.container .back{
    transform: rotateY(180deg);
}

.front, .back {
    position: absolute;
    min-height: max-content;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}

.front{
    background-color: tomato;
}

.back{
    background-color: teal;
}
