.backToTop{
    display: grid;
    place-items: center;
    background-color: #00162b65;
    transition: 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.backToTop:hover{
    background-color: #00162b; 
    transform: scale(1.1);
}

.footer{
    background-color: #001529;
}

.icon{
    color: #FFF;
}