.container{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    justify-content: center;
   
}

.close{
    position: absolute;
    top: 0;
   
    right: 0;
    z-index: 10;
    margin-right: 10px;
    margin-top: 10px;
}

.links{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    color: white;
    min-height: 80%;
}

.head{
    cursor: pointer;
}
