.links{
    width: 100%;
    background-color: var(--primary-dark); 
    margin: 0px;
    height: var(--nav-height);
    display: flex;
    
}

.links ul{
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: space-evenly;
    width: clamp(40%,200px,90%);
    margin-left: auto;
}

.links li{
    list-style: none;
}


.links li a{
    text-decoration: none;
    color: inherit;
}